<!DOCTYPE html>
<html>
<%= render 'head' %>
<body>
  <div class="hero-unit">
   <%= render 'header' %>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="container">
           <div class="span10">
              <%= render 'tabs' %>
              <%= render 'requirements_success' %>
              <%= get_table %>
        </div>
           <div class="span2">
              <%= render 'side_bar' %>     
             </div>
            </div>
            <%= render 'footer' %>
        </div>
      </div>
  </div>
</body>
</html>
